<h1>Welcome to the Schmid Lab Microbial Growth Model!</h1>
<p> Upload your CSV file, then select the charts you would like to generate.</p>

<%= form_tag({ action: 'upload' }, multipart: true) do %>
<h2>Upload CSV File</h2>
  <%= file_field_tag :csv_file, id: 'csv-file' %>
  <%= submit_tag 'Upload', id: 'upload-button' %>
<% end %>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag({ action: 'generate_charts', method: 'post' }) do %>
  <h2>Select Chart Types</h2>
  <label>
    <%= check_box_tag 'chart_types[]', 'line_plot', @selected_chart_types.include?('line_plot') %>
    Line Plot
  </label>
  <br>
  <label>
    <%= check_box_tag 'chart_types[]', 'bar_plot', @selected_chart_types.include?('bar_plot') %>
    Bar Plot
  </label>
  <br>
  <label>
    <%= check_box_tag 'chart_types[]', 'scatter_plot', @selected_chart_types.include?('scatter_plot') %>
    Scatter Plot
  </label>
  <br>
  <%= submit_tag 'Generate' %>
<% end %>

<div id="chart-container">
  <% if @selected_chart_types.include?('line_plot') %>
    <div class="chart">
      <h3>Line Plot</h3>
      <%= image_tag '/uploads/lineplot.png', class: 'chart-image' %>
    </div> 
  <% else %>
    <p>No line plot data available.</p>
  <% end %>

  <% if @selected_chart_types.include?('bar_plot') %>
    <div class="chart">
      <h3>Bar Plot</h3>
      <%= image_tag '/uploads/barplot.png', class: 'chart-image' %>
    </div>
  <% else %>
    <p>No bar plot data available.</p>
  <% end %>

  <% if @selected_chart_types.include?('scatter_plot') %>
    <div class="chart">
      <h3>Scatter Plot</h3>
      <%= image_tag '/uploads/scatterplot.png', class: 'chart-image' %>
    </div>
  <% else %>
    <p>No scatter plot data available.</p>
  <% end %>
</div>

