<link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Welcome to the Schmid Lab Microbial Growth Model!</h1>
<p> Upload your CSV file, then select the charts you would like to generate.</p>

<div class="upload_class">
<%= form_tag(upload_path, multipart: true) do %>
<h2>Upload CSV File</h2>
  <%= file_field_tag 'csv_files[]', multiple:true %>
  <%= submit_tag 'Upload' %>
<% end %>
</div>

<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_tag({ action: 'generate_charts', method: 'post' }) do %>
  <h2>Select Chart Types</h2>
<div class="select_class">
  <label>
    <%= check_box_tag 'chart_types[]', 'line_plot', @selected_chart_types.include?('line_plot') %>
    Line Plot
  </label>
  <br>
  <label>
    <%= check_box_tag 'chart_types[]', 'bar_plot', @selected_chart_types.include?('bar_plot') %>
    Bar Plot
  </label>
  <br>
  <label>
    <%= check_box_tag 'chart_types[]', 'scatter_plot', @selected_chart_types.include?('scatter_plot') %>
    Scatter Plot
  </label>
  <br>
  <%= submit_tag 'Generate' %>
</div>
<% end %>

<div id="chart-container" class="<%= @selected_chart_types.length == 1 ? 'single-chart' : '' %>">
<% if @line_plot_pdf_paths.present? %>
  <div class="chart">
    <h3>Line Plot PDFs</h3>
    <% @line_plot_pdf_paths.each do |pdf_path| %>
      <object data="<%= pdf_path %>" type="application/pdf" width="100%" 
height="600px">
        <embed src="<%= pdf_path %>" type="application/pdf" />
      </object>
      <br>
    <% end %>
  </div>
<% end %>


  <% if @selected_chart_types.include?('bar_plot') %>
    <div class="chart">
      <h3>Bar Plot</h3>
      <%= image_tag '/uploads/barplot.png', class: 'chart-image' %>
    </div>
  <% end %>

  <% if @selected_chart_types.include?('scatter_plot') %>
    <div class="chart">
      <h3>Scatter Plot</h3>
      <%= image_tag '/uploads/scatterplot.png', class: 'chart-image' %>
    </div>
  <% end %>
</div>

<style>
  #chart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
  }
  .chart {
    text-align: center;
  }
</style>
